
<section>
    <md-subheader class="md-primary md-hue-3 pempo-datetime-picker-month">
        <span layout="row" layout-align="center center">
            {{month.name | uppercase}}
        </span>
    </md-subheader>
    <md-grid-list
        md-cols="7"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter="8px" md-gutter-gt-sm="4px"
    >
        <md-grid-tile ng-repeat="day in cal.week">
            <h3>
                {{ cal.toDay(day) | uppercase }}
            </h3>
        </md-grid-tile>
    </md-grid-list>
    <md-grid-list
        id="pempo-datetime-picker-days-list"
        md-cols="7"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter="8px" md-gutter-gt-sm="4px"
    ></md-grid-list>
    <!--<table class="table pempo-datetime-picker-days">
        <thead>
            <tr>
            <th ng-repeat="day in cal.week">
                {{cal.toDay(day)}}
            </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>-->
</section>
